*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  margin: 0;
}

.feeds {
  display: flex;
}

.feed {
  flex-basis: 50%;
  padding-bottom: 10px;
}

.feed--dn {
  background: #F4F7FC;
  color: #0A1974;
}

.feed--hn {
  background: #FCF7F5;
  color: #731D0A;
}

@media(max-width: 720px) {
  .feeds {
    flex-direction: column;
  }
}

.feed-item {
  padding: 20px 0;
  padding: 16px 20px;
  border-radius: 12px;
  margin: 0 10px;
}

.feed-item:hover {
  background: #eee;
}

.feed-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.feed-item--new .feed-item__new-tag {
  display: inline-block;
}

.feed-item--dn .feed-item__meta {
  color: #AFC3E8;
}

.feed-item--hn .feed-item__meta {
  color: #E8C4B5;
}

.feed-item--dn .feed-item__link:visited {
  color: #AFC3E8;
}

.feed-item--hn .feed-item__link:visited {
  color: #E8C4B5;
}

.feed-item--dn:hover {
  background: #E9EFF9;
}

.feed-item--hn:hover {
  background: #F9EFEB;
}

.feed-item__new-tag {
  background: #f9980e;
  /* background: linear-gradient(to top, #f9980e 1%,#ff7207 100%); */
  /* box-shadow: 0 1px 0 white; */
  border-radius: 4px;
  color: white;
  font-size: 10px;
  padding: 2px 4px;
  vertical-align: middle;
  margin-top: -4px;
  text-transform: uppercase;
  display: none;
  /* font-size: 0;
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100px; */
}

.feed-item__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.2;
  margin: 0;
}

.feed-item__link {
  color: inherit;
  text-decoration: none;
}

.feed-item__link:visited {
  color: rgb(185, 185, 185);
}

.feed-item__meta {
  margin-top: 5px;
  font-size: 14px;
}

.feed-header {
  position: sticky;
  top: 0;
  padding: 20px 30px;
  font-size: 28px;
  font-weight: 600;
}

.feed-header--dn {
  border-top: 4px solid #487dce;
  background-color: rgba(244, 247, 252, 0.95);
}

.feed-header--hn {
  border-top: 4px solid #D6734B;
  background-color: rgba(252, 247, 245, 0.95);
}

.peak {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
}

.peak--hidden {
  display: none;
}

.peak__frame-container {
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.peak__iframe {
  background: white;
  border-radius: 8px 8px 0 0;
  position: absolute;
  box-shadow: 0 30px 90px -20px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 100%;
}

@media(max-width: 500px) {
  .js-peak {
    display: none; /* temp */
  }
}

@media(min-width: 850px) {
  .peak__iframe {
    border-radius: 8px;
  }

  .peak__frame-container {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    width: 800px;
    height: 600px;
    margin-left: -400px;
    margin-top: -300px;
  }
}

.footer {
  padding: 10px 0;
  text-align: center;
}

.footer a {
  color: black;
  text-decoration: none;
}

.footer img {
  width: 50px;
  height: 50px;
}