*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  background: var(--global-page-background);
  font-family: sans-serif;
  margin: 0;
}

.feeds {
  display: flex;
}

.feed {
  flex-basis: 50%;
  padding-bottom: 10px;
}

.feed--dn {
  background: var(--dn-feed-background);
  color: var(--dn-feed-text);
}

.feed--hn {
  background: var(--hn-feed-background);
  color: var(--hn-feed-text);;
}

@media(max-width: 720px) {
  .feeds {
    flex-direction: column;
  }
}

.feed-item {
  padding: 20px 0;
  padding: 16px 20px;
  border-radius: 12px;
  margin: 0 10px;
}

.feed-item:hover {
  background: #eee;
}

.feed-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.feed-item--new .feed-item__new-tag {
  display: inline-block;
}

.feed-item--dn .feed-item__meta {
  color: var(--dn-item-meta-text);
}

.feed-item--hn .feed-item__meta {
  color: var(--hn-item-meta-text);
}

.feed-item--dn .feed-item__link:visited {
  color: var(--dn-item-title-visited);
}

.feed-item--hn .feed-item__link:visited {
  color: var(--hn-item-title-visited);
}

.feed-item--dn:hover {
  background: var(--dn-item-background-hover);
}

.feed-item--hn:hover {
  background: var(--hn-item-background-hover);
}

.feed-item__new-tag {
  background: var(--global-new-badge-background);
  color: var(--global-new-badge-text);
  border-radius: 4px;
  font-size: 10px;
  padding: 2px 4px;
  vertical-align: middle;
  margin-top: -4px;
  text-transform: uppercase;
  display: none;
}

.feed-item__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.2;
  margin: 0;
}

.feed-item__link {
  color: inherit;
  text-decoration: none;
}

.feed-item__link:visited {
  color: rgb(185, 185, 185);
}

.feed-item__meta {
  margin-top: 5px;
  font-size: 14px;
}

.feed-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px 30px;
  font-size: 28px;
  font-weight: 600;
  -webkit-backdrop-filter: blur(5px);
}

.feed-header--dn {
  border-top: 4px solid var(--dn-feed-border);
  background-color: var(--dn-feed-header-background);
}

.feed-header--hn {
  border-top: 4px solid var(--hn-feed-border);
  background-color: var(--hn-feed-header-background);
}

.peak {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--global-overlay-background);
  position: fixed;
}

.peak--hidden {
  display: none;
}

.peak__frame-container {
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.peak__iframe {
  background: white;
  border-radius: 8px 8px 0 0;
  position: absolute;
  box-shadow: 0 30px 90px -20px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 100%;
}

@media(max-width: 500px) {
  .js-peak {
    display: none; /* temp */
  }
}

@media(min-width: 850px) {
  .peak__iframe {
    border-radius: 8px;
  }

  .peak__frame-container {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    width: 800px;
    height: 600px;
    margin-left: -400px;
    margin-top: -300px;
  }
}

.footer {
  background: var(--global-footer-background);
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
}

.footer a {
  text-decoration: none;
}

.footer img {
  border-radius: 100px;
  width: 28px;
  height: 28px;
}

.toggle {
  width: 25px;
  height: 25px;
  position: relative;
}

.toggle__input {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 1;
}

.toggle__knob {
  border-radius: 8px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: left 0.4s ease-in-out;
}

.toggle__knob:after {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 25px;
}

.toggle__input:checked ~ .toggle__knob:after {
  content: '☀';
  line-height: 28px;
}

.toggle__input ~ .toggle__knob:after {
  content: '☾';
  line-height: 26px;
}


.toggle__input:focus ~ .toggle__knob {
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.8);
}
